doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=960,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0")
		title myclip
		link(rel="stylesheet",href="style.css")
		script(src="vendor/jquery.min.js")
	body
		#bg
		canvas#analyser
		#flash.not-speaking
		audio#a(src="vendor/pin.wav",preload="auto",autoplay)
		script
			:js
				$('audio').get(0).volume = 0
		#registered(style="text-align:center;display:none")
			h1 登録されました!

		button#test(style="display:none;position:absolute;top:99999px;left:99999px;") test

		script(src="vendor/visualizer.js")
		script(src="audio.js")
