html, body {
	background-color: rgb(0,152,216);
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	z-index: -1;
}

h1 {
	color: white;
	font-size: 40px;
	margin: 35px;
}

#registered {
	position: fixed;
	width: 100%;
	height: 250px;
	top: 0px;
	left: 0;
	right: 0;
}

#bg {
	background: rgb(0,152,216) url(vendor/myclip_1.png) center no-repeat;
	background-size: contain;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -100;
	margin: 0;
	padding: 0;
	display: none;
}

#flash {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index:-50;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#analyser {
	background-color: transparent;
	width: 100%;
	height: 100%;
	z-index: 100;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	position: fixed;
}

#shiv {
	width: 100%;
	height: 50%;
	margin-top: -150px;
	float: left;
}

#title {
	height: 85px;
}

#main {
	border-radius: 25px;
	font-size: 22px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	clear: both;
	width: 75%;
	height: 250px;
	max-width: 500px;
	margin: -150px auto 0;
	position: relative;
	background-color: rgba(255,255,255,0.4);
	text-align: center;
	display: none;

	ul {
		list-style: none;
		margin: 15px 0;
		padding: 0;

		li {
			margin: 0;
			padding: 5px 0;
		}
	}
}

@keyframes speaking {
	0% { background-color: rgba(255,255,255,0.0); }
	100% { background-color: rgba(255,255,255,0.4); }
}

@keyframes not-speaking {
	0% { background-color: rgba(255,255,255,0.4); }
	100% { background-color: rgba(255,255,255,0.0); }
}

.speaking {
	animation: speaking 0.4s ease forwards;
}
.not-speaking {
	animation: not-speaking 0.4s ease forwards;
}
